*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: 20px Arial, sans-serif;
	color: #fff;
}

html, body{
	background: #f2777a;
}

.d-pad{
	width: 80%;
	margin: 10%;
	position: relative;
}

.d-pad > *{
	width: 33.33%;
	height: 33.33%;
	box-sizing: border-box;
	position: absolute;
	text-align: center;
}

.d-pad > *:hover i,
.highlight-position:hover{
	color: #ccc;
	border-color: #ccc;
}

.d-pad > *:active i,
.highlight-position:active{
	color: #aaa;
	border-color: #aaa;
}


.d-pad i{
	color: #fff;
	font-size: 80px;
}

.d-pad .up {
	left: 33.33%;
	top: 0;
}

.d-pad .down{
	left: 33.33%;
	top: 66.66%;
}

.d-pad .right {
	left: 66.66%;
	top: 33.33%;
}

.d-pad .left {
	left: 0;
	top: 33.33%;
}

.highlight-position{
	border: 10px solid #fff;
	font-size: 60px;
	font-family: Arial, sans-serif;
	text-align: center;
	color: #fff;
	padding: 20px;
	width: 80%;
	box-sizing: border-box;
	margin: 60px auto;
}

.connection-state{
	font-size: 12px;
	color: #fff;
	position: fixed;
	right: 10px;
	bottom: 10px;
}


/***********************
* STRUCTURE
* *********************/
.mask{
	overflow: hidden;
	box-sizing: border-box;
	height: 100%;
}

.inner{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: left 500ms ease;
}

.swarm-control{
	float: left;
	width: 50%;
	height: 100%;
	position: relative;
}

/***********************
* ANTS
* *********************/
.select-type{
	overflow: hidden;
}

.select-type li{
	float: left;
	width: 33.3%;
	text-align: center;
	padding: 20px 0;
	color: #fff;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	box-sizing: border-box;
}

.select-type li:last-child{
	border-right: none;
}

.canvas-container{
	margin: 40px auto;
	background: #fff;
}